<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>websocket通讯</title>
</head>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<body>
<div style="margin-left: 25%;margin-top: 10%">
    <h3>WebSocket测试，客户端接收到的消息如下：</h3>
    <textarea id="messageId" readonly="readonly" cols="150" rows="20"></textarea>
    <input type="button" value="清空内容" onclick="document.getElementById('messageId').value=''">
</div>
<script type="text/javascript">
    var socket;
    if (typeof (WebSocket) == "undefined") {
        console.log("遗憾：您的浏览器不支持WebSocket");
    } else {
        console.log("恭喜：您的浏览器支持WebSocket");
        //实现化WebSocket对象
        //指定要连接的服务器地址与端口建立连接
        //注意ws、wss使用不同的端口。我使用自签名的证书测试，
        //无法使用wss，浏览器打开WebSocket时报错
        //ws对应http、wss对应https。
        socket = new WebSocket("ws://localhost:8080/ws/asset");
        //连接打开事件
        socket.onOpen = function () {
            console.log("Socket 已打开");
            // socket.send("消息发送测试(From Client)");
        };
        //收到消息事件
        socket.onMessage = function (msg) {
            $("#messageId").append(msg.data + "\n");
            console.log(msg.data);
        };
        //连接关闭事件
        socket.onClose = function () {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        socket.onError = function () {
            console.log("Socket发生了错误");
        };
        //窗口关闭时，关闭连接
        window.unload = function () {
            socket.close();
        };
    }
</script>
</body>
</html>
